{{ block "index" .}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sudoku Solver</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    {{template "sudokuGrid" .}}

    </body>
    <footer>
        <script src="https://unpkg.com/htmx.org@2.0.1"
                integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
                crossorigin="anonymous"></script>
        <script>
            document.body.addEventListener('htmx:beforeSwap', function (event) {
                if (event.detail.xhr.status === 422) {
                    event.detail.shouldSwap = true;
                    event.detail.isError = false;
                }
            });
        </script>
    </footer>
    </html>
{{ end }}


{{block "sudokuGrid" . }}
    <form  id="sudoku_form" >
        <h2>Level: {{.Level}}  Status: {{.Valid}}</h2>
        <div class="sudoku-grid-wrapper sudoku-box">
            {{ range $key, $val := .Grid }}
            <div class="sudoku-cell">
                <input
                        hx-post="/update"
                        hx-target="#sudoku_form"
                        hx-swap="outerHTML"
                        hx-trigger="keyup changed delay:200ms"
                        type="text" value="{{ if eq $val.Value  0 }}{{else}}{{$val.Value}}{{end}}" name="cell_{{ $key }}"/>
                <span class="hints">
                    {{ range $opt := $val.Options}}
                        {{$opt}}
                    {{end}}
                </span>
            </div>
            {{end}}
        </div>

    </form>
{{end}}